@model IEnumerable<Cheetah2.Models.Schedule>
@{ 

    ViewBag.Title = "Schedule Export";
}

<h2>Export Schedule</h2>
@using (Html.BeginForm("ScheduleReport"))
{
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-4">
            <p>Please Select A Schedule.</p>
        </div>
        <div class="col-md-4">

            <p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownList("SelectedSemester", ViewBag.SemList as SelectList, "Select A Semster")
            </p>

        </div>
        <div class="col-md-4">
            <input type="submit" value="Submit Request" id="SubmitReport" class="btn btn-info btn-sm" style="height:30px; color:white; " />
        </div>
    </div>
}

 
<div>
    <table class="table">
        @foreach (var item in Model)
        {
            
            <tr>
                <th>                  </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor)
                </td>
            </tr>
        }
</table>
</div>



